<footer class="footer is-primary">
	<div class="columns">
		<div class="column has-text-left">
			<p class="title title-page has-text-white">
				{{#image_src 'logo.png' 'logo-footer'}}{{/image_src}}
			</p>
			<p class="description">
				{{ footer.a }}
			</p>

			<div class="security has-text-left">
				<p>{{ footer.b }}</p>
				<br />
				<i class="fab fa-expeditedssl"></i>
				<i class="fab fa-cc-visa"></i>
				<i class="fab fa-cc-mastercard"></i>
				<i class="fab fa-cc-amex"></i>
				<i class="fab fa-btc"></i>
			</div>
		</div>
		<div class="column has-text-left">
			<br />
			<br />
			<div class="security has-text-left">
				<p>{{ footer.c }}</p>
				<br />
				{{#image_src 'flags/canada.svg' 'flag'}}{{/image_src}}
				{{#image_src 'flags/united-states.svg' 'flag'}}{{/image_src}}
				{{#image_src 'flags/costa-rica.svg' 'flag'}}{{/image_src}}
				{{#image_src 'flags/united-kingdom.svg' 'flag'}}{{/image_src}}
				{{#image_src 'flags/mexico.svg' 'flag'}}{{/image_src}}
				{{#image_src 'flags/guatemala.svg' 'flag'}}{{/image_src}}
			</div>
			<div class="social has-text-left">
				<p>{{ footer.d }}</p>
				<a href="https://www.instagram.com/digitaltrustinvestment/" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="https://www.facebook.com/Digital-Trust-Investment-Corp-110121507898921" target="_blank">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="https://twitter.com/DigitalTrust4" target="_blank">
					<i class="fab fa-twitter"></i>
				</a>
			</div>
			<p class="description">
				© 2021 - DT Investments {{ footer.e }}
			</p>
		</div>
	</div>

</footer>
