<section class="hero ">
	<div class="hero-body">
		<div class="container">

			<section id="info" class="section">
				<div class="columns">
					<div class="column is-5">
						<div class="content">
							<h1 class="title is-2 has-text-left title-info">
								{{ info.a }}
							</h1>
							<p class="has-text-left subtitle-info">
								{{ info.b }}
							</p>
							<a href="#service" class="button is-primary is-rounded">{{ info.c }}</a>
						</div>
					</div>
					<div class="column is-7">
						{{#image_src 'image1.jpg' 'image1'}}{{/image_src}}
					</div>
				</div>

				<div class="points_1">
					{{> points_svg }}
				</div>

				<div class="points_2">
					{{> points_svg }}
				</div>

				<div class="points_3">
					{{> points_svg }}
				</div>
			</section>

			<section id="service" class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title-underline">{{ service.a }}</h1>
							<p class="subtitle-service">{{ service.b }}
							</p>
						</div>
					</div>
				</div>
				<div class="prices">
					<div class="columns">
						<div class="column">
							<div class="card">
								<p class="price-title title-1">
									$5000
								</p>
								<p class="price-subtitle">
									{{ service.c.a.a }}
								</p>
								<ul class="has-text-left has-text-gray">
									<li>{{ service.c.a.b }}</li>
									<li>{{ service.c.a.c }}</li>
									<li>{{ service.c.a.d }}</li>
								</ul>
							</div>
						</div>
						<div class="column">
							<div class="card">
								<p class="price-title title-2">
									$10 000
								</p>
								<p class="price-subtitle">
									{{ service.c.b.a }}
								</p>
								<ul class="has-text-left has-text-gray">
									<li>{{ service.c.b.b }}</li>
									<li>{{ service.c.b.c }}</li>
									<li>{{ service.c.b.d }}</li>
								</ul>
							</div>
						</div>
						<div class="column">
							<div class="card">
								<p class="price-title title-3">
									$25 000
								</p>
								<p class="price-subtitle">
									{{ service.c.c.a }}
								</p>
								<ul class="has-text-left has-text-gray">
									<li>{{ service.c.c.b }}</li>
									<li>{{ service.c.c.c }}</li>
									<li>{{ service.c.c.d }}</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="columns">
						<div class="column is-2"></div>
						<div class="column">
							<div class="card">
								<p class="price-title title-4">
									$50 000
								</p>
								<p class="price-subtitle">
									{{ service.c.d.a }}
								</p>
								<ul class="has-text-left has-text-gray">
									<li>{{ service.c.d.b }}</li>
									<li>{{ service.c.d.c }}</li>
									<li>{{ service.c.d.d }}</li>
								</ul>
							</div>
						</div>
						<div class="column">
							<div class="card">
								<p class="price-title title-4">
									$100 000
								</p>
								<p class="price-subtitle">
									{{ service.c.e.a }}
								</p>
								<ul class="has-text-left has-text-gray">
									<li>{{ service.c.e.b }}</li>
									<li>{{ service.c.e.c }}</li>
									<li>{{ service.c.e.d }}</li>
								</ul>
							</div>
						</div>
						<div class="column is-2"></div>
					</div>
					<a target="_blank" href="/app/register?i18n={{ i18n }}"
						class="button is-primary is-rounded is-outlined">{{ service.d }}</a>
				</div>

				<div class="cloud_svg_1">
					{{> cloud_svg }}
				</div>

				<div class="points_4">
					{{> points_svg }}
				</div>

				<div class="points_5">
					{{> points_svg }}
				</div>
			</section>

			<section id="service_info" class="section">
				<div class="columns">
					<div class="column is-5">
						{{#image_src 'image2.jpg' 'image2'}}{{/image_src}}
					</div>
					<div class="column">
						<div class="content">
							<h1 class="title-underline has-text-left">{{ service_info.a }}</h1>
							</p>
							<ul class="has-text-left has-text-gray">
								{{#each service_info.b}}
								<li>
									{{ this }}
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>

				<div class="points_6">
					{{> points_svg }}
				</div>

				<div class="points_7">
					{{> points_svg }}
				</div>
			</section>

			<section id="service_what" class="section">
				<div class="columns">
					<div class="column">
						<div class="content">
							<h1 class="title-underline has-text-left">{{ service_what.a }}</h1>
							</p>
							<ul class="has-text-left has-text-gray">
								{{#each service_what.b}}
								<li>
									{{ this }}
								</li>
								{{/each}}
							</ul>
							<a target="_blank" href="/app/register?i18n={{ i18n }}"
								class="button is-primary is-rounded is-outlined">
								{{ service_what.c }}
							</a>
						</div>
					</div>
					<div class="column is-7">
						{{#image_src 'image3.jpg' 'image3'}}{{/image_src}}
					</div>
				</div>

				<div class="points_8">
					{{> points_svg }}
				</div>
			</section>

			<section id="fqa" class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title-underline">{{ fqa.a }}</h1>
							<section class="accordions">
								{{#each fqa.b}}
								<article class="accordion">
									<div class="accordion-header toggle">
										<p>{{ this.a }}</p>
									</div>
									<div class="accordion-body">
										<div class="accordion-content">
											{{ this.b }}
										</div>
									</div>
								</article>
								{{/each}}
							</section>
						</div>
					</div>
				</div>

				<div class="cloud_svg_2">
					{{> cloud_svg }}
				</div>

				<div class="cloud_svg_3">
					{{> cloud_svg }}
				</div>

				<div class="points_9">
					{{> points_svg }}
				</div>

				<div class="points_10">
					{{> points_svg }}
				</div>
			</section>

			<section id="contact" class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title-underline">{{ contact.a }}</h1>
							</p>
						</div>
					</div>
				</div>
				<div class="columns content">
					<div class="column is-2"> </div>
					<div class="column">
						<form class="form">
							<div class="field">
								<div class="control has-floating-label">
									<input class="input is-medium with-floating-label" id="name" placeholder=" "
										type="text" required>
									<label class="label is-floating-label has-text-gray" for="name">
										{{ contact.b }}
									</label>
								</div>
							</div>
							<div class="field">
								<div class="control has-floating-label">
									<input class="input is-medium with-floating-label" id="email" placeholder=" "
										type="text" required>
									<label class="label is-floating-label has-text-gray" for="email">
										{{ contact.c }}
									</label>
								</div>
							</div>

							<div class="field">
								<div class="control has-floating-label">
									<input class="input is-medium with-floating-label" id="phone" placeholder=" "
										type="text" required>
									<label class="label is-floating-label has-text-gray" for="phone">
										{{ contact.d }}
									</label>
								</div>
							</div>

							<div class="field">
								<div class="control has-floating-label">
									<textarea class="textarea is-medium with-floating-label" id="message"
										placeholder=" "></textarea>
									<label class="label is-floating-label has-text-gray" for="message">
										{{ contact.e }}
									</label>
								</div>
							</div>
							<button class="button is-primary">{{ contact.f }}</button>
						</form>
					</div>
					<div class="column">
						<ul class="contacts fa-ul has-text-left has-text-black">
							<li class="address">
								<span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>
								111 Town Square Place, Suite 1203 <br>
								Jersey City, NJ, US 07310
							</li>
							<li class="telephone">
								<span class="fa-li"><i class="fas fa-phone"></i></span>
								+1 (646) 980- 3324 <br>
								+1 (888) 203-2365

							</li>
							<li class="email">
								<span class="fa-li"><i class="fas fa-envelope"></i></span>
								support@dtinvestments.co
							</li>
						</ul>
						<div class="social has-text-left">
							<i class="fab fa-linkedin-in"></i>
							<i class="fab fa-instagram"></i>
							<i class="fab fa-facebook-f"></i>
							<i class="fab fa-twitter"></i>
						</div>
					</div>
					<div class="column is-2"> </div>
				</div>

				<div class="points_11">
					{{> points_svg }}
				</div>

				<div class="points_12">
					{{> points_svg }}
				</div>
			</section>

		</div>
	</div>
</section>
