<section class="hero ">
	<div class="hero-body">
		<div class="container">

			<section id="info" class="section">
				<div class="columns">
					<div class="column is-5">
						<div class="content">
							<h1 class="title is-2 has-text-left title-info">
								{{ info.a }}
							</h1>
							<p class="has-text-left subtitle-info">
								{{ info.b }}
							</p>
							<a href="#invest_now" class="button is-primary is-rounded">
								{{ info.c }}
							</a>
						</div>
					</div>
					<div class="column is-7">
						{{#image_src 'image1.jpg' 'image1'}}{{/image_src}}
					</div>
				</div>

				<div class="points_1">
					{{> points_svg }}
				</div>

				<div class="points_2">
					{{> points_svg }}
				</div>

				<div class="points_3 is-hidden-mobile">
					{{> points_svg }}
				</div>
			</section>

			<section id="our_industries" class="section">
				<div class="columns">
					<div class="column is-hidden-mobile"></div>
					<div class="column is-8">
						<div class="content">
							<h1 class="title-underline has-text-left">{{ our_industries.a }}</h1>
							<p class="has-text-left has-text-gray">
								{{ our_industries.b }}
							</p>
							<p class="has-text-left has-text-gray">
								{{ our_industries.c }}
							</p>
						</div>
					</div>
					<div class="column is-hidden-mobile"></div>
				</div>
				<div class="columns">
					<div class="column is-hidden-mobile"></div>
					<div class="column is-8">
						<div class="columns">
							<div class="column">
								{{#image_src 'image6.png' 'image6'}}{{/image_src}}
								<p class="has-text-centered has-text-primary">
									{{ our_industries.d }}
								</p>
							</div>
							<div class="column">
								{{#image_src 'image7.png' 'image7'}}{{/image_src}}
								<p class="has-text-centered has-text-primary">
									{{ our_industries.e }}
								</p>
							</div>
							<div class="column">
								{{#image_src 'image8.png' 'image8'}}{{/image_src}}
								<p class="has-text-centered has-text-primary">
									{{ our_industries.f }}
								</p>
							</div>
							<div class="column">
								{{#image_src 'image9.png' 'image9'}}{{/image_src}}
								<p class="has-text-centered has-text-primary">
									{{ our_industries.g }}
								</p>
							</div>
						</div>
					</div>
					<div class="column is-hidden-mobile"></div>
				</div>
			</section>

			<section id="friendly" class="section">
				<div class="columns">
					<div class="column">
						<div class="content">
							<h1 class="title-underline has-text-left">{{ friendly.a }}</h1>
							<p class="subtitle">
								{{ friendly.c }}
							</p>
							<p class="has-text-left has-text-gray">
								{{ friendly.b.[0].b.[1] }}
							</p>
							<p class="has-text-left">
								{{#page 'friendly' '@helper.more' '' '' }}{{/page}}
							</p>
							<a target="_blank" href="/app/donations?i18n={{ i18n }}"
								class="button is-primary is-rounded is-outlined">
								{{ friendly.d }}
							</a>
						</div>
					</div>
					<div class="column is-7">
						{{#image_src 'image5.jpg' 'image5'}}{{/image_src}}
					</div>
				</div>

				<div class="points_4">
					{{> points_svg }}
				</div>
			</section>

			<section id="service_info" class="section">
				<div class="columns reverse-columns">
					<div class="column is-5">
						{{#image_src 'image2.jpg' 'image2'}}{{/image_src}}
					</div>
					<div class="column">
						<div class="content">
							<h1 class="title-underline has-text-left">{{ service_info.a }}</h1>
							<ul class="has-text-left has-text-gray">
								{{#each service_info.b}}
								<li>
									{{ this }}
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>

				<div class="points_6">
					{{> points_svg }}
				</div>

				<div class="points_7 is-hidden-mobile">
					{{> points_svg }}
				</div>
			</section>

			<section id="invest_now" class="section">
				<div class="columns">
					<div class="column">
						<div class="content">
							<h1 class="title-underline has-text-left">{{ invest_now.a }}</h1>
							<p class="subtitle-invest-now">
								{{ invest_now.b }}
							</p>
							<ul class="has-text-left has-text-gray">
								{{#each invest_now.c}}
								<li>
									{{ this }}
								</li>
								{{/each}}
							</ul>
							<a href="/app/login?i18n={{ i18n }}" class="button is-primary is-rounded is-outlined">
								{{ invest_now.d }}
							</a>
							{{#page 'help' '@navbar.url.a8' '' 'button is-primary is-rounded is-outlined help-button'
							}}{{/page}}
						</div>
					</div>
					<div class="column is-7">
						{{#image_src 'image3.jpg' 'image3'}}{{/image_src}}
					</div>
				</div>
				<div class="columns column-trading">
					<div class="column"></div>
					<div class="column is-8">
						{{> tradingview }}
					</div>
					<div class="column"></div>
				</div>

				<div class="points_8">
					{{> points_svg }}
				</div>
			</section>

			<section id="fqa" class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title-underline">{{ fqa.a }}</h1>
							<section class="accordions">
								{{#each fqa.b}}
								<article class="accordion">
									<div class="accordion-header toggle">
										<p>{{ this.a }}</p>
									</div>
									<div class="accordion-body">
										<div class="accordion-content">
											{{ this.b }}
										</div>
									</div>
								</article>
								{{/each}}
							</section>
						</div>
					</div>
				</div>

				<div class="cloud_svg_2">
					{{> cloud_svg }}
				</div>

				<div class="cloud_svg_3 is-hidden-mobile">
					{{> cloud_svg }}
				</div>

				<div class="points_9">
					{{> points_svg }}
				</div>

				<div class="points_10">
					{{> points_svg }}
				</div>
			</section>

			<section id="contact" class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title-underline">{{ contact.a }}</h1>
							</p>
						</div>
					</div>
				</div>
				<div class="columns content">
					<div class="column is-2"> </div>
					<div class="column">
						<form class="form" action="" onsubmit="contactForm()">
							<div class="field">
								<div class="control has-floating-label">
									<input class="input is-medium with-floating-label" id="name" placeholder=" "
										type="text" required>
									<label class="label is-floating-label has-text-gray" for="name">
										{{ contact.b }}
									</label>
								</div>
							</div>
							<div class="field">
								<div class="control has-floating-label">
									<input class="input is-medium with-floating-label" id="email" placeholder=" "
										type="text" required>
									<label class="label is-floating-label has-text-gray" for="email">
										{{ contact.c }}
									</label>
								</div>
							</div>

							<div class="field">
								<div class="control has-floating-label">
									<input class="input is-medium with-floating-label" id="phone" placeholder=" "
										type="text" required>
									<label class="label is-floating-label has-text-gray" for="phone">
										{{ contact.d }}
									</label>
								</div>
							</div>

							<div class="field">
								<div class="control has-floating-label">
									<textarea class="textarea is-medium with-floating-label" id="message"
										placeholder=" " required></textarea>
									<label class="label is-floating-label has-text-gray" for="message">
										{{ contact.e }}
									</label>
								</div>
							</div>
							<button class="button is-primary">{{ contact.f }}</button>
						</form>
					</div>
					<div class="column">
						<ul class="contacts fa-ul has-text-left has-text-black">
							<li class="address">
								<span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>
								111 Town Square Place, Suite 1203 <br>
								Jersey City, NJ, US 07310
							</li>
							<li class="telephone">
								<span class="fa-li"><i class="fas fa-phone"></i></span>
								+1 (646) 980-3324 <br>
								+1 (888) 203-2365 <br>
								+506 4070 0240

							</li>
							<li class="email">
								<span class="fa-li"><i class="fas fa-envelope"></i></span>
								<a href="mailto: support@digitaltrustonline.net" target="_blank">
									support@digitaltrustonline.net
								</a>
							</li>
							<li class="email">
								<span class="fa-li"><i class="fab fa-whatsapp"></i></span>
								<a href="https://wa.me/16469803342?text=Hola, soy un cliente, quiero más información."
									target="_blank">
									Whatsapp +1 (646) 980-3342
								</a>
							</li>
						</ul>
					</div>
					<div class="column is-2"> </div>
				</div>

				<div class="points_11 is-hidden-mobile">
					{{> points_svg }}
				</div>

				<div class="points_12">
					{{> points_svg }}
				</div>
			</section>

		</div>
	</div>
</section>
