<section id="info" class="section">
	<div class="glide">
		<div class="glide__track" data-glide-el="track">
			<ul class="glide__slides">
				<li class="glide__slide">{{#image_src 'slider-1.jpg' ''}}{{/image_src}}</li>
				<li class="glide__slide">{{#image_src 'slider-2.jpg' ''}}{{/image_src}}</li>
				<li class="glide__slide">{{#image_src 'slider-3.jpg' ''}}{{/image_src}}</li>
				<li class="glide__slide">{{#image_src 'slider-4.jpg' ''}}{{/image_src}}</li>
				<li class="glide__slide">{{#image_src 'slider-5.jpg' ''}}{{/image_src}}</li>
			</ul>
		</div>
	</div>

	<div class="content has-text-centered">
		<h1 class="title is-2 title-info">
			{{ info.a }}
		</h1>
		<p class="subtitle-info">
			{{ info.b }}
		</p>
		<a href="#invest_now" class="button is-primary is-light is-rounded">
			<p>
				{{ info.e }}
			</p>
		</a>
	</div>

	<div class="points_1">
		{{> points_svg }}
	</div>

	<div class="points_2">
		{{> points_svg }}
	</div>

	<div class="points_3 is-hidden-mobile">
		{{> points_svg }}
	</div>
</section>

<section class="hero">
	<div class="hero-body">
		<div class="container">
			<section id="invest_now" class="section">
				<div class="columns">
					<div class="column">
						<div class="content">
							<h1 class="title-underline has-text-left">{{ invest_now.a }}</h1>
							<p class="subtitle-invest-now">
								{{ invest_now.b }}
							</p>
							<ul class="has-text-left has-text-gray">
								{{#each invest_now.c}}
								<li>
									{{ this }}
								</li>
								{{/each}}
							</ul>
							<a href="/app/preregister?i18n={{ i18n }}" class="button bbutton is-rounded is-outlined">
								{{ invest_now.d }}
							</a>
							{{#page 'help' '@navbar.url.a8' '' 'button bbutton is-rounded is-outlined help-button'
							}}{{/page}}
						</div>
					</div>
					<div class="column is-7">
						{{#image_src 'image3.png' 'image3'}}{{/image_src}}
					</div>
				</div>

				<div class="points_8">
					{{> points_svg }}
				</div>
			</section>
		</div>
	</div>
</section>

<section id="benefits" class="section">
	<div class="columns">
		<div class="column">
			<div class="content has-text-left">
				<h1 class="title-underline">{{ benefits.a }}</h1>
				{{#each benefits.list}}
				<p>
					<i class='{{this.a}} icon-margin'></i>
					{{this.b}}
				</p>
				{{/each}}

				<h2 class="has-text-white">{{ benefits.help }}</h2>
				<div class="columns" style="width: 100% !important;">
					<div class="column is-8">
						<div class="field">
							<div class="control has-floating-label"><input class="input is-medium with-floating-label"
									id="name" placeholder=" " type="text" required="" autocomplete="off"> <label
									class="label is-floating-label has-text-gray" for="name">e-mail</label></div>
						</div>
					</div>
					<div class="column btn-content">
						<button class="button is-white is-outlined btn-send">
							{{ benefits.send }}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="column is-6 column-trading">
			{{> tradingview }}
		</div>
	</div>
</section>

<section class="hero">
	<div class="hero-body secundary">
		<div class="container">
			<section id="friendly" class="section">
				<div class="columns">
					<div class="column">
						<div class="content">
							<h1 class="title-underline has-text-left">{{ friendly.a }}</h1>
							<p class="subtitle">
								{{ friendly.c }}
							</p>
							<p class="has-text-left has-text-gray">
								{{ friendly.b.[0].b.[1] }}
							</p>
							<p class="has-text-left">
								{{#page 'friendly' '@helper.more' '' 'has-text-white' }}{{/page}}
							</p>
							<a target="_blank" href="/app/donations?i18n={{ i18n }}"
								class="button bbutton is-rounded is-outlined">
								{{ friendly.d }}
							</a>
						</div>
					</div>
					<div class="column is-7">
						{{#image_src 'image5.png' 'image5'}}{{/image_src}}
					</div>
				</div>

				<div class="points_4">
					{{> points_svg }}
				</div>
			</section>
		</div>
	</div>
</section>

<section id="our_industries" class="section">
	<div class="columns">
		<div class="column is-hidden-mobile"></div>
		<div class="column is-8">
			<div class="content">
				<h1 class="title-underline has-text-left">{{ our_industries.a }}</h1>
				<p class="has-text-left">
					{{ our_industries.b }}
				</p>
				<p class="has-text-left">
					{{ our_industries.c }}
				</p>
			</div>
		</div>
		<div class="column is-hidden-mobile"></div>
	</div>
	<div class="columns is-hidden">
		<div class="column is-hidden-mobile"></div>
		<div class="column is-8">
			<div class="columns">
				<div class="column">
					{{#image_src 'image6.png' 'image6'}}{{/image_src}}
					<p class="has-text-centered">
						{{ our_industries.d }}
					</p>
				</div>
				<div class="column">
					{{#image_src 'image7.png' 'image7'}}{{/image_src}}
					<p class="has-text-centered">
						{{ our_industries.e }}
					</p>
				</div>
				<div class="column">
					{{#image_src 'image8.png' 'image8'}}{{/image_src}}
					<p class="has-text-centered">
						{{ our_industries.f }}
					</p>
				</div>
			</div>
		</div>
		<div class="column is-hidden-mobile"></div>
	</div>
	<div class="columns">
		<div class="column">
			{{#image_src 'services_desktop.png' 'image_our_industries is-hidden-mobile' '' 'slide-up'}}{{/image_src}}
			{{#image_src 'services_mobile.png' 'image_our_industries is-hidden-desktop' '' 'slide-right'}}{{/image_src}}
			<script>
				AOS.init({
					duration: 1200,
				});
			</script>
		</div>
	</div>
</section>

<section class="hero">
	<div class="hero-body secundary">
		<div class="container">
			<section id="service_info" class="section">
				<div class="columns reverse-columns">
					<div class="column is-5">
						{{#image_src 'image2.png' 'image2'}}{{/image_src}}
					</div>
					<div class="column">
						<div class="content">
							<h1 class="title-underline has-text-left">{{ service_info.a }}</h1>
							<ul class="has-text-left has-text-gray">
								{{#each service_info.b}}
								<li>
									{{ this }}
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>

				<div class="points_6">
					{{> points_svg }}
				</div>

				<div class="points_7 is-hidden-mobile">
					{{> points_svg }}
				</div>
			</section>
		</div>
	</div>
</section>

<section id="fqa" class="section">
	<div class="columns">
		<div class="column is-8 is-offset-2">
			<div class="content is-medium">
				<h1 class="title-underline">{{ fqa.a }}</h1>
				<section class="accordions">
					{{#each fqa.b}}
					<article class="accordion">
						<div class="accordion-header toggle">
							<p>{{ this.a }}</p>
						</div>
						<div class="accordion-body">
							<div class="accordion-content">
								{{ this.b }}
							</div>
						</div>
					</article>
					{{/each}}
				</section>
			</div>
		</div>
	</div>

	<div class="cloud_svg_2">
		{{> cloud_svg }}
	</div>

	<div class="cloud_svg_3 is-hidden-mobile">
		{{> cloud_svg }}
	</div>

	<div class="points_9">
		{{> points_svg }}
	</div>

	<div class="points_10">
		{{> points_svg }}
	</div>
</section>

<section class="hero">
	<div class="hero-body secundary">
		<div class="container">
			<section id="contact" class="section">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="content is-medium">
							<h1 class="title-underline">{{ contact.a }}</h1>
							</p>
						</div>
					</div>
				</div>
				<div class="columns content">
					<div class="column is-2"> </div>
					<div class="column">
						<form class="form" action="" onsubmit="contactForm()">
							<div class="field">
								<div class="control has-floating-label">
									<input class="input is-medium with-floating-label" id="name" placeholder=" "
										type="text" required autocomplete="off">
									<label class="label is-floating-label has-text-gray" for="name">
										{{ contact.b }}
									</label>
								</div>
							</div>
							<div class="field">
								<div class="control has-floating-label">
									<input class="input is-medium with-floating-label" id="email" placeholder=" "
										type="text" required autocomplete="off">
									<label class="label is-floating-label has-text-gray" for="email">
										{{ contact.c }}
									</label>
								</div>
							</div>

							<div class="field">
								<div class="control has-floating-label">
									<input class="input is-medium with-floating-label" id="phone" placeholder=" "
										type="text" required autocomplete="off">
									<label class="label is-floating-label has-text-gray" for="phone">
										{{ contact.d }}
									</label>
								</div>
							</div>

							<div class="field">
								<div class="control has-floating-label">
									<textarea class="textarea is-medium with-floating-label" id="message"
										placeholder=" " required autocomplete="off"></textarea>
									<label class="label is-floating-label has-text-gray" for="message">
										{{ contact.e }}
									</label>
								</div>
							</div>
							<button class="button is-primary is-light">{{ contact.f }}</button>
						</form>
					</div>
					<div class="column">

						<ul class="contacts fa-ul has-text-left has-text-black">
							<li class="address">
								<span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>
								<p>Digital Trust Company LLC</p>
								<p>1317 Edgewater Dr #1741</p>
								<p>Orlando, FL 32804</p>
								<p>+1 (786) 410-9615</p>
							</li>
							<li class="address">
								<span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>
								<p>111 Town Square Place, Suite 1203</p>
								<p>Jersey City, NJ, US 07310</p>
								<p>+1 (646) 980-3324</font>
								</p>
							</li>
							<li class="email">
								<span class="fa-li"><i class="fas fa-envelope"></i></span>
								<a href="mailto: support@digitaltrustonline.net" target="_blank">
									support@digitaltrustonline.net
								</a>
							</li>
							<li class="email">
								<span class="fa-li"><i class="fab fa-whatsapp"></i></span>
								<a href="https://wa.me/16469803342?text=Hola, soy un cliente, quiero más información."
									target="_blank">
									Whatsapp +1 (646) 980-3342
								</a>
							</li>
						</ul>
						<br>

					</div>
					<div class="column is-2"> </div>
				</div>

				<div class="points_11 is-hidden-mobile">
					{{> points_svg }}
				</div>

				<div class="points_12">
					{{> points_svg }}
				</div>
			</section>

		</div>
	</div>
</section>
